# Copy this file to .env, then enter your Wi-Fi and ThingsBoard settings.
WIFI_SSID=YOUR_WIFI_SSID
WIFI_PASSWORD=YOUR_WIFI_PASSWORD
MQTT_HOST=YOUR_MQTT_HOST
MQTT_PORT=
THINGSBOARD_ACCESS_TOKEN=YOUR_THINGSBOARD_ACCESS_TOKEN
MQTT_TELEMETRY_TOPIC=v1/devices/me/telemetry
